.catalog-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex: 1;
    display: flex;

    .sidebar {
      margin-top: 20px;
      width: 25%;
    }

    .catalog {
      width: 72%;

      .catalog-list {
        .sort-options {
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1rem;
          gap: 5px;
        }

        .part-grid {
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
          gap: 7rem;
          max-height: 800px;
          overflow-y: auto;

          .part {
            
          }
        }
      }
    }
  }
}
